plc5Enet prplc {
# Read PlantRoomPLC Bits/Words
 0 {
   ip_addr 10.2.14.14
   port 2222
   plc5_tbl_addr N11:0
   plc5_tbl_len 400
   scan_rate 0.5
   direction input
   }
# Write PlantRoom PLC Bits/Words
 1 {
   ip_addr 10.2.14.14
   port 2222
   plc5_tbl_addr N11:0
   plc5_tbl_len 200
   scan_rate 0
   direction direct
   }
}
